$font: Arial, sans-serif;
$text-colour: darkslategray;
$primary-background-colour: palegoldenrod;
$secondary-background-colour: aliceblue;

@mixin text {
  color: $text-colour;
  font-family: $font;
}

@mixin rounded-corners {
  border-radius: 2em;
}

body {
  background-color: $primary-background-colour;
}

h1 {
  @include text;
  color: $text-colour;
  font-size: xxx-large;
  text-transform: uppercase;
  width: fit-content;
  padding: 75px;
  margin: auto;
}

.content-container {
  display: flex;
  margin: auto;
}

img {
  @include rounded-corners;
  max-width: 500px;
  z-index: 0;
  margin: auto auto auto -20%;
}

p {
  @include text;
  font-size: x-large;
  padding: 50px;
  margin: auto;
}

.text-container {
  @include rounded-corners;
  background: $secondary-background-colour;
  z-index: 1;
  margin: auto;
}